<!doctype html>
<html lang=ja>

  <header>
    <title>SearchDB</title>

    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content=IE=edge>
    <meta name=viewport content=width=device-width, initial-scale=1>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RISE Patent Search System</title>

    <!-- Honoka Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>

    <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
    <script src=https://cdn.jsdelivr.net/npm/vue></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js></script>
    {% block header %}{% endblock %}
  </header>

  <body>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </body>

</html>
