<!DOCTYPE html>
<html lang=ja>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content=IE=edge>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RISE Patent Search System</title>
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
    <!-- Honoka Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guruguru.css') }}">
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src=https://cdn.jsdelivr.net/npm/vue></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js></script>

  </head>
  <body>
    <div class=container-fluid id= "app"  style=background-color:#FFFFFF;>
      <h2>Patent Search</h2>
      <div class=row>
        <div class=col-lg-7 >
          <div class="form-group">
            <label for="query">キーワード検索</label>
            <textarea class="form-control" v-model="vue_query" name="query" id="query">{{ query }}</textarea>
            <button v-on:click="doquery">Search</button>
          </div>
        </div>
        <div class=col-lg-5>
          <div class="form-group">
            <label for="query">ハイライトキーワード</label>
            <textarea class="form-control" v-model="highlight_key" name="highlight_key"></textarea>
            <button v-on:click="highlight">HighLight</button>
            (( highlight_key))
          </div>
        </div>
      </div>
      <div v-if="loading" id="floatingCirclesG">
      	<div class="f_circleG" id="frotateG_01"></div>
      	<div class="f_circleG" id="frotateG_02"></div>
      	<div class="f_circleG" id="frotateG_03"></div>
      	<div class="f_circleG" id="frotateG_04"></div>
      	<div class="f_circleG" id="frotateG_05"></div>
      	<div class="f_circleG" id="frotateG_06"></div>
      	<div class="f_circleG" id="frotateG_07"></div>
      	<div class="f_circleG" id="frotateG_08"></div>
      </div>
      <div v-if="count>=0">
        <h5>検索結果: ヒット件数 (( count )) 件</h5>
      </div>
      <div class=col-lg-12>
        <biblio-data v-for="(item, index) in results" v-bind:key="item.id" v-bind:index="index" v-bind:title="item.title" v-bind:applicants="item.applicants" v-bind:publn_nr="item.publn_nr" v-bind:appln_nr="item.appln_nr" v-bind:reg_nr="item.reg_nr" v-bind:inventors="item.inventors" v-bind:fi="item.fi" v-bind:pub_date="item.pub_date" v-bind:filing_date="item.filing_date" v-bind:reg_date="item.reg_date" v-bind:abstract="item.abstract" v-bind:claims="item.claims" v-bind:figure="item.figure">
        </biblio-data>
        </span>
      </div>
  </body>
</html>

<script type="text/javascript">

Vue.component('claim' , {
    delimiters: ['((','))'],
    template: `
      <div>
        <div v-if="ind_flg==1">
          <p>
            <span class="badge" style="background-color:#1e90ff;">【請求項(( clm_nr ))】</span>
            <span v-html="clm_txt">
          </p>
        </div>
        <div v-else>
          <div v-if="claim_show">
            <p>
              <span class="badge">【請求項(( clm_nr ))】</span>
            <span v-html="clm_txt">
            </p>
          </div>
        </div>
      </div>
    `,
    props: {
      'index': Number,
      'clm_nr': Number,
      'clm_txt': String,
      'ind_flg': Number,
      'claim_show' : Boolean
    },
    methods: {
      hide: function () {
        this.show = !this.show;
      },
    },
})

Vue.component('biblio-data', {
  delimiters: ['((','))'],
  template: `
  <div class="panel panel-default">
    <div class=panel-heading>
      <span v-html="title"></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class=col-lg-9>
          <div class="row">
            <div class="col-lg-12">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" v-bind:href="'#home'+index">要約</a></li>
                <li><a data-toggle="tab" v-bind:href="'#menu1-'+index">請求項</a></li>
                <li><a data-toggle="tab" v-bind:href="'#menu2-'+index">全図面</a></li>
              </ul>

              <div class="tab-content">
                <div v-bind:id="'home'+index" class="tab-pane fade in active">
                  <br><p v-html="abstract"></p>
                  <div class="row">
                    <div class="col-lg-6">
                      <span v-if="countFigure > 0">
                        <img v-bind:src="figure[0][2]" class="img-responsive center-block">
                      </span>
                    </div><div class="col-lg-6"></div>
                  </div>
                </div>
                <div v-bind:id="'menu1-'+index" class="tab-pane fade">
                  <br>
                  従属項
                  <span v-if="claim_show == false">
                    <a v-on:click="claim_show = !claim_show">表示</a> | 非表示 <br><br>
                  </span>
                  <span v-if="claim_show">
                    表示  | <a v-on:click="claim_show = !claim_show">非表示</a> <br><br>
                  </span>
                  <claim v-for="(claim,index) in claims" v-bind:index="index" v-bind:clm_nr="claim.clm_nr" v-bind:clm_txt="claim.clm_txt" v-bind:ind_flg="claim.ind_flg" v-bind:claim_show="claim_show">
                  </claim>
                </div>
                <div v-bind:id="'menu2-'+index" class="tab-pane fade">
                  <br>
                  <div class="row" v-for="(figure_row,index1) in figureList" v-bind:index1="index1" v-bind:id="index1" v:bind:figure_row="figure_row">
                    <div class="col-lg-4" v-for="(figure_element, index2) in figure_row" v-bind:id="index1 + '-' + index2" v:bind:figure_element="figure_element">
                      <img v-bind:src="figure_element[2]" class="img-responsive center-block" data-toggle="modal" v-bind:data-target="'#image-modal-'+index+'-'+index1+'-'+index2" style="cursor:pointer">
                      <div class="modal fade" v-bind:id="'image-modal-'+index+'-'+index1+'-'+index2">
                        <div class="modal-dialog　modal-lg modal-middle">
                          <div class="modal-content"
                            <div class="modal-body">
                              <img v-bind:src="figure_element[2]" class="img-responsive center-block">
                            </div>
                            <div class="modal-img_footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class=row>
                <div class="col-lg-12">
                【公報番号】&nbsp;&nbsp;(( publn_nr )) <br>
                【出願番号】&nbsp;&nbsp;(( appln_nr )) <br>
                【登録番号】&nbsp;&nbsp;(( reg_nr )) <br><br>
                【公開日】&nbsp;&nbsp;(( pub_date )) <br>
                【登録日】&nbsp;&nbsp;(( reg_date )) <br>
                【出願日】&nbsp;&nbsp;(( filing_date )) <br><br>
                </div>
              </div>
              <div class="row"><div class="col-lg-12" style="word-wrap: break-word;">【出願人】
                <span v-for="app in applicants" v-bind:app="app">(( app ))&nbsp;&nbsp;</span><br>
              </div></div>
              <div class="row"><div class="col-lg-12" style="word-wrap: break-word;">【発明者】
                <span v-for="inventor in inventors" v-bind:inventor="inventor">(( inventor ))&nbsp;&nbsp;</span><br>
              </div></div>
              <div class="row"><div class="col-lg-12" style="word-wrap: break-word;">【FI】
                <span v-for="fic in fi" v-bind:fic="fic">(( fic ))&nbsp;&nbsp;</span><br><br>
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  `,
  // 受け取る属性名を指定
    props: {
      'index' : Number,
      'id': [String, Number],
      'type' : String,
      'appln_nr': String,
      'publn_nr': String,
      'reg_nr' : String,
      'filing_date' : String,
      'pub_date' : String,
      'reg_date' : String,
      'title': String,
      'applicants': [],
      'attorneys': [],
      'inventors': [],
      'fi': [],
      'clsf' : [],
      'abstract' : String,
      'claims' : String,
      'figure' : String,
    },
    data : function() {
        return{
          claim_show: false
        }
    },
    computed: {
      countFigure: function() {
        return this.figure.length
      },
      figureList: function() {
        var N = 3;

        if (this.figure.length == 0) {
          return []
        }

        tmp_ary = this.figure.slice(1);
        mod = tmp_ary.length % N;
        if (mod > 0) {
          for (var i = 0; i < N - mod; ++i) {
            tmp_ary.push([]);
          }
        }

        var retAry = new Array();
        idx = 0;
        while (idx + N <= tmp_ary.length){
          retAry.push(tmp_ary.slice(idx,idx+N));
          idx = idx + N;
        }

        return retAry

      }
    }
})

var vm = new Vue({
  delimiters: ['((','))'],
  el: '#app',
  data: {
    loading: false,
    count: -1,
    vue_query: '',
    drilldown: 'none',
    results: [],
    highlight_key: ''
  },
  methods: {
    highlight: function() {
      var key_lines = this.highlight_key.split('\\n')
      for (var l of key_lines) {
        var keywords = l.split(' ')
        var pattern = keywords.join('|')

        var reg = new RegExp("(" + pattern + ")", "gi")
        for (result of this.results) {
          result['title'] = result['title'].replace(reg, '<span style="background-color: #FFFF00">$1</span>')
          result['abstract'] = result['abstract'].replace(reg, '<span style="background-color: #FFFF00">$1</span>')
          for (claim_idx in result['claims']) {
            claim = result['claims'][claim_idx]['clm_txt']
            result['claims'][claim_idx]['clm_txt'] = claim.replace(reg, '<span style="background-color: #FFFF00">$1</span>')
          }
        }
      }

      //}
    },
    doquery: function () {
      this.loading = true;
      this.results = [];
      this.count = -1
      axios
        .post('{{ url_for('search.getjson') }}', {
          vue_query: this.vue_query,
        })
        .then(function (response) {
            this.count = response.data.count
            this.results = response.data.results
            this.loading = false;
        }.bind(this))
        .catch(error => {
            this.loading = false;
            console.log(error)
        })
    }
  }
})

</script>
